

.mcontainer{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 30px;
    margin-top: 100px;
    margin-bottom:100px;
    overflow-x: hidden;
    }



.parcontainer{
    width: 50%;
    margin-left: 10%;
}
.parcontainer p{
    text-align: justify;
    font-size: 20px;
    text-justify: auto;
    padding: 15px;
    margin-top:50px;
    

}
.image{
    width: 50%;
    margin-left: 5%;
   
  
}
.image img{
 
    height: auto;  
    width:90%;

}
.parcontainer h1{

  font-weight: 700;
  
  text-transform: uppercase;
  color: #0b4474;

}
@media screen and (max-width: 768px) {
    .mcontainer{
        flex-direction: column;
        margin-top: 50px;
        margin-bottom:50px;
    }
    .parcontainer{
        padding: 0px;
        width: 100%;
        margin-left: 0%;    
       
    }
    .parcontainer p{
        font-size: 15px;
       padding: 15px;
    }
   
  .image{
    width: 100%;
   
}
.image img{
 
    height: auto; 
    width:70%;

}
.parcontainer h1 {
    font-weight: 700;
    text-transform: uppercase;
    color: #0b4474;
    margin-left: 18px;
}
}
