.startLogo{
    display: flex;
    flex-direction: column;
    justify-content:center;
    align-items: center; 
     
}
.startLogo img{
    height:150px;
     width:150px;
     }


.Head{
    font-size: 50px;
    font-weight: 700;
    color:  #0b4474;
     position: relative;
}
.main{
    margin-top: 7%;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 30px;  
}
.ima{
    height: 100px;
    width: 100px;
    border-radius: 50%;
    background-color: white;
    position: absolute;
    z-index: 2;
    top: -70px;
    left:90px;
    display: flex;
    justify-content: center;
    align-content: center
    ;
}
.ima img{
    height:70px;
    width: 70px;
    border-radius: 50%;

}


.customers{

    position: relative;
    width: 20%;
    height: 332px;
    background-color:  #0b4474;
    border-radius: 0px 50px 0px 50px;
    padding: 30px;
    display: flex;
    flex-direction: column;
    justify-content: center;

}
.customers h3{
    font-size: 20px;
    font-weight: 800;
    color: white;
    text-transform: uppercase;
    margin-top: 30px;
    
}
.customers p{
    font-size: 16px;
    text-align: center;
    color: white;
    height: 200px;
    font-weight: 550;
    margin-top: 20px;

    
}
@media screen and (max-width: 768px){
    .startLogo img{
    height:70px;
     width:70px;
    
     
}
  .Head{
    font-size: 40px;
    font-weight: 700;
    
}
.description{
        font-size: 10px;
       padding: 0 10px;
    text-overflow: hidden;
    font-weight: 300;
    margin-bottom: 20%;
    }

    .main{
        
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 100px;
    }
.ima{
    height: 70px;
    width: 70px;
    border-radius: 50%;
    background-color: white;
    position: absolute;
    z-index: 2;
    top: -50px;
    left:130px;
    display: flex;
    justify-content: center;
    align-content: center
    ;
}
.ima img{
    height:50px;
    width: 50px;
    border-radius: 50%;

}


.customers{

    position: relative;
    width: 90%;
    height: 332px;
    background-color:  #0b4474;
    border-radius: 0px 50px 0px 50px;
    padding: 10px;
    display: flex;
    flex-direction: column;
    justify-content: center;

}
.customers h3{
    font-size: 20px;
    font-weight: 700;
    color: white;
    text-transform: uppercase;
    margin-top: 30px;
    
}
.customers p{
    font-size: 16px;
    text-align: center;
    color: white;
    height: 200px;
    font-weight: 360;
    margin-top: 20px;

    
}
    
    
}